img {
    width: 25%;
    display: inline-flexbox;
    position: top;
    height: fit-content;
    background-color: aqua;
    margin: 10px;
    align-items: center;
}
html {
    background-color: tan;
}
section {
    display: inline-block;
    margin: 15px;
    background-color: crimson;
    padding: 20px;
    border-color: brown;
    border-style: solid;
    
}